*{
    box-sizing: border-box;
}

.container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start; 
}

.sidebar{
    width: 170px;
    background-color: orange;
    padding: 5px
}

.sidebar ul{
    width: 100%;
    padding: 0;
}

.sidebar ul li{
    list-style: none;
    padding: 5px 0;
    color: #ffffff;
    border-bottom: 2px dashed rgba(200, 255 255, 0.3);
}

.contents{
    width: calc(100% - 170px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 10px;
}

.item{
    width: 24%;
    height: 180px;
    margin-bottom: 10px;
    background-image: url("../IMG/6fa45c07-9760-45c1-a4a0-9aa2677de333.png");
    background-size: cover;
}
