*{
    box-sizing: border-box;
}

.flexcontainer{
    height: 300px;
    background: gray;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}

.flexcontainer div{
    background: azure;
    border: 1px solid red;
}