/* .box1{
    background-color: rebeccapurple;
    width: 400px;
    height: 300px;
    border: 2px solid red;
    padding: 50px;
    /*padding :border의 내부영역 */
    /* margin: 50px; */
    /* margin : border의 외부영역 
}*/

div{
    width: 200px;
    height: 200px;
    background: lightgray;
}

.box1{
    padding: 50px;
    border: 1px solid blue;
}